.product__container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
}


.product__item {
  width: 300px;
  margin: .7rem auto;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.product__item:hover {
  transform: scale(1.05);
}

.product__item img {
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
}

.product__item p {
  margin-bottom: 10px;
}


@media all and (max-width: 480px) {
  .product__container {
    grid-template-columns: minmax(0, 2fr) 150px;
    grid-auto-rows: auto;

  }

  
  .product__item {
    width: 120px;
  }

  
  .product__item img {
      width: 30%;
      height: auto;
      
  }
}

@media all and (max-width: 768px) {
  .product__container {
    grid-template-columns: minmax(0, 2fr) 200px;
    grid-auto-rows: auto;
  
  }

  .product__item {
    width: 180px;
  }

  .product__item img {
      width: 40%;
      height: auto;
  }

  .product__item p {
    font-size: .8rem;
  }


}
